.editor-paragraph {
  margin: 0.5em 0;
  font-size: 16px;
  line-height: 1.5;
}

.editor-heading-h1 {
  font-size: 2em;
  font-weight: bold;
}

.editor-heading-h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.editor-heading-h3 {
  font-size: 1em;
  font-weight: bold;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-code {
  background-color: #e9e8e8;
  color: #727272;
  border-radius: 15px;
  font-family: Courier, monospace;
  letter-spacing: 1px;
  display: block;
  padding: 15px;
  padding-left: 30px;
  line-height: 1.5;
  font-size: 13px;
  margin: 0;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor {
  min-height: 400px;
}

.editor:focus {
  outline: none;
}

li:has(> ol),
li:has(> ul) {
  list-style-type: none;
}

.MuiCard-root a[href^="/wiki-documentation"] {
  color: #1976d2;
  text-decoration: none;
  border-bottom: 1px solid rgba(25, 118, 210, 0.4);
  transition: all 0.2s ease;
  padding-bottom: 2px;
  font-weight: 500;
}

.MuiCard-root a[href^="/wiki-documentation"]:hover {
  color: #002a5c;
  border-bottom-color: #002a5c;
  background-color: rgba(25, 210, 198, 0.12);
}

.MuiCard-root a[href^="/wiki-documentation"]:visited {
  color: #7b1fa2;
  border-bottom-color: rgba(123, 31, 162, 0.4);
}

.editor img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
  cursor: default;
}

.editor::after {
  content: "";
  display: table;
  clear: both;
}
